/*
 * 2018-07-15 00:02:22
 * HQS
 * 
 * 贴吧电竞  游戏页
 * */
            

.pc{width: 100%;position: relative;padding-top: 102px;}
/*头部导航菜单*/
.pc .top{height: 102px; position:fixed;top: 0;left: 0;border-bottom: 1px #000 solid;
		-webkit-box-shadow:0 0  10px 1px #040404;  
		-moz-box-shadow:0 0  10px 1px #040404;  
		box-shadow:0 0  10px 1px #040404;z-index: 10;}
.pc .top .top_div{display: block;width: 1158px;height: inherit;margin: 0 auto;}
.pc .top .top_div a.logo{display: block; float: left;width: 162px; margin-top: 19px;}
.pc .top .top_div a.logo img{display: block; width: 100%;}
.pc .top .top_div ul{float: right;width: 606px; height: inherit;}
.pc .top .top_div ul li{display: inline-block; float: left;width:80px;
						height: inherit;line-height: 102px;text-align: center;}
.pc .top .top_div ul li a{display: inline-block;width:inherit; color: #eb8b00;
							height: inherit;line-height: inherit;font-size: 16px;}
.pc .top .top_div ul li a:hover{border-top: 2px #eb8b00 solid; background: #e6e6e6;}


.pc .main{width: 100%;min-width: 1158px;}

/*顶部海报*/
.pc .banner{height: 780px;position: relative;}
.pc .banner .banner_bg{display: block;width: 100%;height: 158px;position: absolute;left: 0;z-index: 0;}
.pc .banner .banner_bg1{top: 0px;  background: url(../img/banner_1.jpg) no-repeat center center;}
.pc .banner .banner_bg2{top: 158px;background: url(../img/banner_2.jpg) no-repeat center center;}
.pc .banner .banner_bg3{top: 316px;background: url(../img/banner_3.jpg) no-repeat center center;}
.pc .banner .banner_bg4{top: 474px;background: url(../img/banner_4.jpg) no-repeat center center;}
.pc .banner .banner_bg5{top: 632px;height: 148px;background: url(../img/banner_5.jpg) no-repeat center center;}

.pc .banner .banner_content{display: block;width: 1158px;height: 780px;margin: 0 auto;padding-top: 200px;position: relative;}
.pc .banner .banner_content .banner_character{display: block;width: 594px;height: 179px;
											margin-left: 81px;}
.pc .banner .banner_content .banner_android_app{display: block;width: 323px;height: 84px;
											margin-left: 55px;margin-top: 117px; position: relative;}
.pc .banner .banner_content .banner_android_app .banner_qr_code{display: none;width: 206px; height: 206px;
															border-radius: 8px; padding-top: 4px;
															position: absolute;top: 0; left: 351px;}
.pc .banner .banner_content .banner_android_app .banner_qr_code p{display: block; width: 100%; color: #d58505;text-align: center;
															  height: 43px;line-height:43px;font-size: 24.28px;}
.pc .banner .banner_content .banner_android_app .banner_qr_code img{display: block;width: 140px; margin: 0 auto;}
.pc .banner .banner_content .banner_android_app:hover .banner_qr_code{display: block;}

.pc .banner .banner_content .banner_ios_app{display: block;width: 323px;height: 84px;
											margin-left: 55px;margin-top: 38px;}



/*游戏列表*/
.pc .GamesList{height: 244px; padding-top: 32px;background: #CA4206;}
.pc .GamesList .GamesList_div{display: block;width:1158px;height: 180px;margin: 0 auto;background: #A8A8A8;}




/*时事*/
.pc .content{height: 748px;position: relative;
			background: #D58505;}
.pc .content .content_div{ width: 1158px;height: inherit;}
/*热门赛事*/
.pc .content .PopularEvents{width: 50%;height: inherit;background: #E6E6E6;float: left;}

/*新闻资讯*/
.pc .content .news{width: 50%;height: inherit;background: #F00;float: right;}





/*大使收获*/
.pc .crunchies{height: 518px;background: #D58505;}
.pc .crunchies .crunchies_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .crunchies .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .crunchies .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}




/*联系我们*/
.pc .about{height: 465px;background: #fff;}
.pc .about .about_main{display: block;width:1158px;height: 380px;margin: 0 auto; padding-top: 57px;position: relative;}
.pc .about .about_main p{color: #000;display: block;}
.pc .about .about_main .about_title{width: 100%; font-size: 45.6px;height: 45.6px;line-height: 45.6px;margin-bottom: 20px; text-align: center;}
.pc .about .about_main .about_describe{width: 100%; font-size: 20.85px;height: 20.85px;line-height: 20.85px;margin-bottom: 37px;text-align: center;}

.pc .about .about_main .about_address{display: inline-block;width: 375px;height: 196px;float: left;margin-right: 50px;}
.pc .about .about_main .about_address p{font-size: 16.33px;margin-bottom: 5px;}


#qq::-webkit-inner-spin-button,#mobile::-webkit-inner-spin-button,#contact_number::-webkit-inner-spin-button { -webkit-appearance: none!important; ; }
#qq,#mobile,#contact_number{ appearance: textfield;
							-moz-appearance: textfield;
							-webkit-appearance: textfield; }
#qq:hover,#mobile:hover,#contact_number:hover{ appearance: textfield;
												-moz-appearance: textfield;
												-webkit-appearance: textfield; }
.pc .about .about_main form .form_right{display: inline-block;width: 301px;height: inherit;margin-right: 22px;float: left;}
.pc .about .about_main form .form_right #content{min-width: 302px;max-width: 302px; color: #a8a8a8;font-size: 13.54px;
												margin-bottom: 10px;min-height: 79px;max-height: 79px;
												line-height: 32px;
												border: 1px #eca234 solid;padding-left: 7px;}

.pc .about .about_main form .form_right #contact_submit{width: 302px;height: 34px; color: #fff;font-size: 11.94px;
										  height: 32px; line-height: 32px;text-align: center;
										  background: #e88901;-webkit-tap-highlight-color:transparent;}
.pc .about .about_main form .form_right #contact_submit:hover{background: #cc7700;}

.pc .about ul.foot{display: block;width: 290px;height: 20px;margin: 20px auto 10px;clear: both;}
.pc .about ul.foot li{display: block;float: left;height: 20px;}
.pc .about ul.foot li:nth-of-type(1){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li:nth-of-type(2){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li a{display: block; color: #000;font-size: 15.4px;height: 20px;line-height: 20px;
								margin-left: 22px;margin-right: 22px;}
.pc .about ul.foot li a:hover{background: #CCCCCC;}
.pc .about .provider{display: block; color: #000; width: 100%;font-size: 16.72px;text-align: center;}



.pc #com_d { cursor: pointer;  width: 90px; height: 90px;border: 0px;
		 margin: 0px; padding: 0px;
		 position: fixed; right: 40px; bottom: 40px;
		 background: url("../img/top.png") no-repeat center center; z-index: 999; }
.pc #com_d:hover { background: url("../img/top.png") no-repeat center center; }



/*弹窗提示*/

.pop_up_prompts,.toastInfo{display:none;position:absolute;width:100%;
			text-align:center;font-size:1rem;height:30px;line-height:30px;color:#fff;}
.pop_up_prompts span,.toastInfo span{background-color:#a5a3a3;display:inline-block;border-radius:5px;padding:0px 10px;}
.toastInfo{bottom: 35px;}
.pop_up_prompts{bottom: 160px;}

/*PC端样式   结束*/





/*
 * 以下为 【全部游戏】页面allgame.html  移动端样式
 * 2018-07-17 18:23:35
 * HQS
 * */
.vessel{position: fixed;top: 0;left: 0;right: 0;background: #F2F2F2; bottom: 4rem;overflow-y: scroll;}
.allGameList a{display: block;background: #fff; float: left;width: 33%;border-right: 1px #ccc solid;border-bottom: 1px #ccc solid;}
.allGameList a:nth-of-type(3),.allGameList a:nth-of-type(6),.allGameList a:nth-of-type(9),
.allGameList a:nth-of-type(12),.allGameList a:nth-of-type(15),.allGameList a:nth-of-type(18),
.allGameList a:nth-of-type(21),.allGameList a:nth-of-type(24),.allGameList a:nth-of-type(27),
.allGameList a:nth-of-type(32),.allGameList a:nth-of-type(35),.allGameList a:nth-of-type(39),
.allGameList a:nth-of-type(42),.allGameList a:nth-of-type(45),.allGameList a:nth-of-type(48),
.allGameList a:nth-of-type(51),.allGameList a:nth-of-type(54),.allGameList a:nth-of-type(57),
.allGameList a:nth-of-type(60),.allGameList a:nth-of-type(63),.allGameList a:nth-of-type(66),
.allGameList a:nth-of-type(69),.allGameList a:nth-of-type(72),.allGameList a:nth-of-type(75){border-right: none;}
.allGameList a img{display: block; width: 40%;margin: 1.5rem auto 0.5rem;}
.allGameList a p{text-align: center;line-height: 1rem;color: #524E4E;font-size: 0.8rem;margin-bottom: 1rem;}




/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5  1920x1080  /3★*/ 
@media only screen and (max-width: 414px) {
	.allGameList a img{height: 3.39rem;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.allGameList a img{height: 3.374rem;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.allGameList a img{height: 3.366rem;}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
	.allGameList a img{height: 3.069rem;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.allGameList a img{height: 3.069rem;}
}
/*4.95英寸  360*640尺寸的屏幕  如 谷歌Nexus 5     1920x1080 /3★*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.allGameList a img{height: 2.945rem;}
}
/*4.0英寸   320*568尺寸的屏幕  如iPhone5、iPhone SE   1136x640*/
@media only screen and (max-width: 320px) {
	.allGameList a img{height: 2.615rem;}
}