/*
 * 2018-06-21 
 * HQS
 * 
 * */
            

.pc{width: 100%;position: relative;padding-top: 102px;}
/*头部导航菜单*/
.pc .top{height: 102px; position:fixed;top: 0;left: 0;border-bottom: 1px #000 solid;
		-webkit-box-shadow:0 0  10px 1px #040404;  
		-moz-box-shadow:0 0  10px 1px #040404;  
		box-shadow:0 0  10px 1px #040404;z-index: 10;}
.pc .top .top_div{display: block;width: 1158px;height: inherit;margin: 0 auto;}
.pc .top .top_div a.logo{display: block; float: left;width: 162px; margin-top: 19px;}
.pc .top .top_div a.logo img{display: block; width: 100%;}
.pc .top .top_div ul{float: right;width: 606px; height: inherit;}
.pc .top .top_div ul li{display: inline-block; float: left;width:80px;
						height: inherit;line-height: 102px;text-align: center;}
.pc .top .top_div ul li a{display: inline-block;width:inherit; color: #eb8b00;
							height: inherit;line-height: inherit;font-size: 16px;}
.pc .top .top_div ul li a:hover{border-top: 2px #eb8b00 solid; background: #e6e6e6;}


.pc .main{width: 100%;min-width: 1158px;}


/*游戏列表*/
.pc .informationList{height: 1244px; padding-top: 32px;background: #CA4206;}
.pc .informationList .GamesList_div{display: block;width:1158px;height: 180px;margin: 10px auto;background: #A8A8A8;}




/*翻页*/
.pc .live{height: 48px;position: relative;
			background: #D58505;}
.pc .live .live_div{ width: 1158px;height: inherit;}
/*直播视频*/
.pc .live .sinatv{width: 50%;height: inherit;background: #E6E6E6;float: left;}

/*赛事竞猜*/
.pc .live .guess{width: 50%;height: inherit;background: #F00;float: right;}



/*联系我们*/
.pc .about{height: 465px;background: #fff;}
.pc .about .about_main{display: block;width:1158px;height: 380px;margin: 0 auto; padding-top: 57px;position: relative;}
.pc .about .about_main p{color: #000;display: block;}
.pc .about .about_main .about_title{width: 100%; font-size: 45.6px;height: 45.6px;line-height: 45.6px;margin-bottom: 20px; text-align: center;}
.pc .about .about_main .about_describe{width: 100%; font-size: 20.85px;height: 20.85px;line-height: 20.85px;margin-bottom: 37px;text-align: center;}

.pc .about .about_main .about_address{display: inline-block;width: 375px;height: 196px;float: left;margin-right: 50px;}
.pc .about .about_main .about_address p{font-size: 16.33px;margin-bottom: 5px;}


#qq::-webkit-inner-spin-button,#mobile::-webkit-inner-spin-button,#contact_number::-webkit-inner-spin-button { -webkit-appearance: none!important; ; }
#qq,#mobile,#contact_number{ appearance: textfield;
							-moz-appearance: textfield;
							-webkit-appearance: textfield; }
#qq:hover,#mobile:hover,#contact_number:hover{ appearance: textfield;
												-moz-appearance: textfield;
												-webkit-appearance: textfield; }
.pc .about .about_main form .form_right{display: inline-block;width: 301px;height: inherit;margin-right: 22px;float: left;}
.pc .about .about_main form .form_right #content{min-width: 302px;max-width: 302px; color: #a8a8a8;font-size: 13.54px;
												margin-bottom: 10px;min-height: 79px;max-height: 79px;
												line-height: 32px;
												border: 1px #eca234 solid;padding-left: 7px;}

.pc .about .about_main form .form_right #contact_submit{width: 302px;height: 34px; color: #fff;font-size: 11.94px;
										  height: 32px; line-height: 32px;text-align: center;
										  background: #e88901;-webkit-tap-highlight-color:transparent;}
.pc .about .about_main form .form_right #contact_submit:hover{background: #cc7700;}

.pc .about ul.foot{display: block;width: 290px;height: 20px;margin: 20px auto 10px;clear: both;}
.pc .about ul.foot li{display: block;float: left;height: 20px;}
.pc .about ul.foot li:nth-of-type(1){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li:nth-of-type(2){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li a{display: block; color: #000;font-size: 15.4px;height: 20px;line-height: 20px;
								margin-left: 22px;margin-right: 22px;}
.pc .about ul.foot li a:hover{background: #CCCCCC;}
.pc .about .provider{display: block; color: #000; width: 100%;font-size: 16.72px;text-align: center;}



.pc #com_d { cursor: pointer;  width: 90px; height: 90px;border: 0px;
		 margin: 0px; padding: 0px;
		 position: fixed; right: 40px; bottom: 40px;
		 background: url("../img/top.png") no-repeat center center; z-index: 999; }
.pc #com_d:hover { background: url("../img/top.png") no-repeat center center; }




/*弹窗提示*/

.pop_up_prompts,.toastInfo{display:none;position:absolute;width:100%;
			text-align:center;font-size:1rem;height:30px;line-height:30px;color:#fff;}
.pop_up_prompts span,.toastInfo span{background-color:#a5a3a3;display:inline-block;border-radius:5px;padding:0px 10px;}
.toastInfo{bottom: 35px;}
.pop_up_prompts{bottom: 160px;}

/*PC端样式   结束*/





/*
 * 以下为移动端样式
 * 2018-05-05
 * HQS
 * */


.mobile .main{width: 100%;}
/*顶部海报*/
.mobile .banner{display: block;width: 100%; height: auto; position: relative; }
.mobile .banner .banner_and{display: block;position: absolute;
							width: 6.8rem; height: 2rem;
							border-radius: 0.4rem; z-index: 3;}
.mobile .banner .erweima{position: absolute;top: 11.3rem;left: 8.96rem;display: none;
						 width: 5.3rem;height: 5.3rem;background: #fff;border-radius: 0.3rem; }
.mobile .banner .erweima p{display: block;height: 1rem;line-height: 1rem;color: #d78305;
							font-size: 0.6rem;text-align: center;margin-bottom: 0.3rem;}
.mobile .banner .erweima img{ display: block; width: 70%;margin: 0 auto;}


/*四大特色*/
.mobile .feature{display: block;width: 100%;max-width: 750px;height: auto;position: relative;}

/*校园大使*/
.mobile .ambassador{display: block;width: 100%;max-width: 750px;height: auto;position: relative; }
.mobile .ambassador a.sign_up{display: block;position: absolute;
							width: 7rem; height: 2rem; z-index: 3;}

/*大使收获*/
.mobile .harvest{display: block;width: 100%;max-width: 750px;height: auto; background: #fff;position: relative;}


/*大使职责*/
.mobile .responsibility{display: block;width: 100%;max-width: 750px;height: auto;position: relative; }


/*报名条件*/
.mobile .condition{display: block;width: 100%;max-width: 750px;height: auto;position: relative; }


/*联系我们*/
.mobile .about{display: block;width: 100%;max-width: 750px;height: auto;position: relative; padding-top: 1rem;padding-bottom: 2rem;clear: both;}
.mobile .about .about_main{display: block;width:100%;height: auto;}
.mobile .about p{color: #000;display: block; text-align: center;}
.mobile .about .about_main .about_title{width: 100%; font-size: 1.3rem;height: 2rem;line-height: 2rem;
										margin-top: 2rem;}
.mobile .about .about_main .about_describe{width: 100%; font-size: 0.7rem;height: 1rem;line-height: 1rem;margin-bottom: 1rem;}

.mobile .about .about_main form{display: inline-block;width: 100%;height: auto;}
.mobile .about .about_main form input{ display: block; width: 73%;height: 2rem; color: #a8a8a8;font-size: 1rem;margin: 0 auto 0.5rem;
									   line-height: 2rem;text-indent: 10px;border: 1px #eca234 solid;}
#qq::-webkit-inner-spin-button,#mobile::-webkit-inner-spin-button,#contact_number::-webkit-inner-spin-button { -webkit-appearance: none!important; ; }
#qq,#mobile,#contact_number{ -moz-appearance: textfield; }
.mobile .about .about_main form #content{ display: block;width: 73%; height: 5rem; color: #a8a8a8;font-size: 1rem;
											margin-bottom: 10px; line-height: 2rem;margin: 0 auto 0.5rem;
											border: 1px #eca234 solid;padding-left: 7px;}
.mobile .about .about_main form .contact_submit{ width: 15rem; height: 2rem; color: #fff;font-size: 1rem;
												line-height: 2rem;border-radius: 0.3rem;
												background: #e88901;-webkit-tap-highlight-color:transparent;}

.mobile .about .about_main .about_address{display: block;width: 100%;height: auto;margin-top: 2rem;}
.mobile .about .about_main .about_address p{font-size: 0.7rem;height: 1rem;line-height: 1rem;}

.mobile .about ul.foot{display: block;width: 20rem;height: 1rem;margin: 1rem auto 1rem;}
.mobile .about ul.foot li{display: inline-block;float: left;height: auto;}
.mobile .about ul.foot li:nth-of-type(1){border-right: 1px #4b4b4b solid;}
.mobile .about ul.foot li:nth-of-type(1) a{margin-left: 3rem;margin-right: 1rem;}
.mobile .about ul.foot li:nth-of-type(2){border-right: 1px #4b4b4b solid;}
.mobile .about ul.foot li a{color: #000;font-size: 1rem;height: 1rem;line-height: 1rem;
							margin-left: 1rem;margin-right: 1rem;-webkit-tap-highlight-color:transparent;}
.mobile .about .provider{display: block; color: #000; width: 100%;font-size: 1rem;}




/*报名表*/
.mobile .application{width: 100%;max-width: 750px; position: relative;background: #ca4206;}
.mobile .application .application_bg{display: block; width: 100%;z-index: 1;}

.mobile .application .entry_main{display: block;width:100%;height: auto;z-index: 3;
								 position: absolute;top: 18rem;left: 0; }
.mobile .application .entry_main .entry_title{text-align: center; font-size: 2rem;color: #fff;
											height: 2rem;line-height: 2rem;margin-bottom: 2rem;}
.mobile .application .entry_main form#application_form{display: block;width:98%;height: auto;margin: 0 auto;}

.mobile .application .message{height: 15rem;width: 100%;}
.mobile .application .message div{ display: inline-block; width: 50%;height: 2rem;line-height: 2rem;float: left;margin-bottom: 1rem;}
.mobile .application .message div label{ display: inline-block; width: 3rem;font-size: 1rem;color: #fff; text-align: center;float: left;}
.mobile .application .message div input{ display: inline-block;width: 6rem;height: 2rem;font-size: 1.2rem;
										 color: #272727;padding-left: 0.4rem;margin-left: 9px;float: left;}

.mobile .application .message div span{ display: inline-block; width: 3rem;font-size: 1rem;color: #fff; text-align: center;float: left;}
.mobile .application .message div input.radio{ display: inline-block;width: 1rem;height: 1rem; line-height: 1rem;float: left;
												font-size: 2rem;color: #ccc;padding-left: 0.1rem;margin-left: 1rem;margin-top: 0.5rem;}
.mobile .application .message div label.gender_label{width: 1rem;font-size: 1rem;margin: 0 0 0 0.4rem;float: left;}

.mobile .application label.address_title{ display: inline-block; width: 8rem;font-size: 1rem;height:1rem;
									line-height: 1rem; color: #fff;padding-left: 1rem;}
.mobile .application input.address{ display: block;width: 90%;height: 2rem;font-size: 1.2rem;margin: 0.5rem auto 3rem;
									color: #272727;padding-left: 0.4rem;}

.mobile .application .entry_main_title{text-align: center; font-size: 2rem;color: #fff;
									   height: 2rem;line-height: 2rem;margin-bottom: 2rem;}
.mobile .application p.content_title{ display: block; width: 96%;font-size: 1rem;margin: 1rem auto 0.2rem;
									  line-height: 1.8rem; color: #fff; text-align: left;padding-left: 0.8rem;}
.mobile .application textarea{display: block;font-size: 1rem;padding-left: 0.8rem; color: #524e4e;
								line-height: 1.8rem;border-radius: 0.2rem;
								width: 90%; height: 5rem;margin: 0 auto;}

.mobile .application #application_submit{display: block;width: 60%; height: 2.6rem;line-height: 2.6rem;background: #fe8d08;
										color: #fff;font-size: 1.5rem; text-align: center;
										border: 0px; border-radius: 0.4rem;margin: 2rem auto;
										-webkit-tap-highlight-color:transparent;}




/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5  1920x1080  /3★*/ 
@media only screen and (max-width: 414px) {
	.banner_and{top: 11.29rem;left: 1.6rem;}
	.mobile .ambassador a.sign_up{top: 12rem;left: 15rem;}
	
	.mobile .application{height: 95rem;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.banner_and{top: 11rem;left: 1.6rem;}
	.mobile .ambassador a.sign_up{top: 12rem;left: 15rem;}
	
	.mobile .application{height: 96rem;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.banner_and{top: 11rem;left: 1.6rem;}
	.mobile .ambassador a.sign_up{top: 12rem;left: 15rem;}
	
	.mobile .application{height: 96rem;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.banner_and{top: 10rem;left: 1rem;}
	.mobile .ambassador a.sign_up{top: 11rem;left: 13rem;}
	
	.mobile .application{height: 97rem;}
}
/*4.95英寸  360*640尺寸的屏幕  如 谷歌Nexus 5     1920x1080 /3★*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.banner_and{top: 9.5rem;left: 1rem;}
	.mobile .ambassador a.sign_up{top: 10.5rem;left: 12rem;}
	
	.mobile .application{height: 98rem;}
}
/*4.0英寸   320*568尺寸的屏幕  如iPhone5、iPhone SE   1136x640*/
@media only screen and (max-width: 320px) {
	.banner_and{top: 8.5rem;left: 1rem;}
	.mobile .ambassador a.sign_up{top: 9rem;left: 11rem;}
	
	.mobile .application{height: 99rem;}
}