/*
 * 2018-07-13 
 * HQS
 * 
 * 个人中心
 * */
            

.pc{width: 100%;position: relative;padding-top: 102px;}
/*头部导航菜单*/
.pc .top{height: 102px; position:fixed;top: 0;left: 0;border-bottom: 1px #000 solid;
		-webkit-box-shadow:0 0  10px 1px #040404;  
		-moz-box-shadow:0 0  10px 1px #040404;  
		box-shadow:0 0  10px 1px #040404;z-index: 10;}
.pc .top .top_div{display: block;width: 1158px;height: inherit;margin: 0 auto;}
.pc .top .top_div a.logo{display: block; float: left;width: 162px; margin-top: 19px;}
.pc .top .top_div a.logo img{display: block; width: 100%;}
.pc .top .top_div ul{float: right;width: 606px; height: inherit;}
.pc .top .top_div ul li{display: inline-block; float: left;width:80px;
						height: inherit;line-height: 102px;text-align: center;}
.pc .top .top_div ul li a{display: inline-block;width:inherit; color: #eb8b00;
							height: inherit;line-height: inherit;font-size: 16px;}
.pc .top .top_div ul li a:hover{border-top: 2px #eb8b00 solid; background: #e6e6e6;}


.pc .main{width: 100%;min-width: 1158px;}

/*顶部海报*/
.pc .banner{height: 780px;position: relative;}
.pc .banner .banner_bg{display: block;width: 100%;height: 158px;position: absolute;left: 0;z-index: 0;}
.pc .banner .banner_bg1{top: 0px;  background: url(../img/banner_1.jpg) no-repeat center center;}
.pc .banner .banner_bg2{top: 158px;background: url(../img/banner_2.jpg) no-repeat center center;}
.pc .banner .banner_bg3{top: 316px;background: url(../img/banner_3.jpg) no-repeat center center;}
.pc .banner .banner_bg4{top: 474px;background: url(../img/banner_4.jpg) no-repeat center center;}
.pc .banner .banner_bg5{top: 632px;height: 148px;background: url(../img/banner_5.jpg) no-repeat center center;}

.pc .banner .banner_content{display: block;width: 1158px;height: 780px;margin: 0 auto;padding-top: 200px;position: relative;}
.pc .banner .banner_content .banner_character{display: block;width: 594px;height: 179px;
											margin-left: 81px;}
.pc .banner .banner_content .banner_android_app{display: block;width: 323px;height: 84px;
											margin-left: 55px;margin-top: 117px; position: relative;}
.pc .banner .banner_content .banner_android_app .banner_qr_code{display: none;width: 206px; height: 206px;
															border-radius: 8px; padding-top: 4px;
															position: absolute;top: 0; left: 351px;}
.pc .banner .banner_content .banner_android_app .banner_qr_code p{display: block; width: 100%; color: #d58505;text-align: center;
															  height: 43px;line-height:43px;font-size: 24.28px;}
.pc .banner .banner_content .banner_android_app .banner_qr_code img{display: block;width: 140px; margin: 0 auto;}
.pc .banner .banner_content .banner_android_app:hover .banner_qr_code{display: block;}

.pc .banner .banner_content .banner_ios_app{display: block;width: 323px;height: 84px;
											margin-left: 55px;margin-top: 38px;}



/*游戏列表*/
.pc .GamesList{height: 244px; padding-top: 32px;background: #CA4206;}
.pc .GamesList .GamesList_div{display: block;width:1158px;height: 180px;margin: 0 auto;background: #A8A8A8;}




/*直播*/
.pc .live{height: 748px;position: relative;
			background: #D58505;}
.pc .live .live_div{ width: 1158px;height: inherit;}
/*直播视频*/
.pc .live .sinatv{width: 50%;height: inherit;background: #E6E6E6;float: left;}

/*赛事竞猜*/
.pc .live .guess{width: 50%;height: inherit;background: #F00;float: right;}





/*赛事奖金*/
.pc .bonus{height: 518px;background: #D58505;}
.pc .bonus .bonus_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .bonus .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .bonus .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}



/*全场最佳*/
.pc .bestOfAll{height: 518px;background: #D58505;}
.pc .bestOfAll .bestOfAll_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .bestOfAll .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .bestOfAll .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}


/*赛事赛程*/
.pc .schedule{height: 518px;background: #D58505;}
.pc .schedule .schedule_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .schedule .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .schedule .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}


/*赛事介绍*/
.pc .Introduction{height: 518px;background: #D58505;}
.pc .Introduction .Introduction_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .Introduction .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .Introduction .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}


/*赛事标题*/
.pc .EventTitle{height: 518px;background: #D58505;}
.pc .EventTitle .EventTitle_div{display: block; width: 1158px; height: 498px;margin: 10px auto;}
/*战队榜*/
.pc .EventTitle .edg{width: 50%;height: inherit;background: #794d4d;float: left;}
/*赛事榜*/
.pc .EventTitle .Competition{width: 50%;height: inherit;background: #00e6ff;float: right;}



/*联系我们*/
.pc .about{height: 465px;background: #fff;}
.pc .about .about_main{display: block;width:1158px;height: 380px;margin: 0 auto; padding-top: 57px;position: relative;}
.pc .about .about_main p{color: #000;display: block;}
.pc .about .about_main .about_title{width: 100%; font-size: 45.6px;height: 45.6px;line-height: 45.6px;margin-bottom: 20px; text-align: center;}
.pc .about .about_main .about_describe{width: 100%; font-size: 20.85px;height: 20.85px;line-height: 20.85px;margin-bottom: 37px;text-align: center;}

.pc .about .about_main .about_address{display: inline-block;width: 375px;height: 196px;float: left;margin-right: 50px;}
.pc .about .about_main .about_address p{font-size: 16.33px;margin-bottom: 5px;}


#qq::-webkit-inner-spin-button,#mobile::-webkit-inner-spin-button,#contact_number::-webkit-inner-spin-button { -webkit-appearance: none!important; ; }
#qq,#mobile,#contact_number{ appearance: textfield;
							-moz-appearance: textfield;
							-webkit-appearance: textfield; }
#qq:hover,#mobile:hover,#contact_number:hover{ appearance: textfield;
												-moz-appearance: textfield;
												-webkit-appearance: textfield; }
.pc .about .about_main form .form_right{display: inline-block;width: 301px;height: inherit;margin-right: 22px;float: left;}
.pc .about .about_main form .form_right #content{min-width: 302px;max-width: 302px; color: #a8a8a8;font-size: 13.54px;
												margin-bottom: 10px;min-height: 79px;max-height: 79px;
												line-height: 32px;
												border: 1px #eca234 solid;padding-left: 7px;}

.pc .about .about_main form .form_right #contact_submit{width: 302px;height: 34px; color: #fff;font-size: 11.94px;
										  height: 32px; line-height: 32px;text-align: center;
										  background: #e88901;-webkit-tap-highlight-color:transparent;}
.pc .about .about_main form .form_right #contact_submit:hover{background: #cc7700;}

.pc .about ul.foot{display: block;width: 290px;height: 20px;margin: 20px auto 10px;clear: both;}
.pc .about ul.foot li{display: block;float: left;height: 20px;}
.pc .about ul.foot li:nth-of-type(1){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li:nth-of-type(2){border-right: 1px #4b4b4b solid;}
.pc .about ul.foot li a{display: block; color: #000;font-size: 15.4px;height: 20px;line-height: 20px;
								margin-left: 22px;margin-right: 22px;}
.pc .about ul.foot li a:hover{background: #CCCCCC;}
.pc .about .provider{display: block; color: #000; width: 100%;font-size: 16.72px;text-align: center;}



.pc #com_d { cursor: pointer;  width: 90px; height: 90px;border: 0px;
		 margin: 0px; padding: 0px;
		 position: fixed; right: 40px; bottom: 40px;
		 background: url("../img/top.png") no-repeat center center; z-index: 999; }
.pc #com_d:hover { background: url("../img/top.png") no-repeat center center; }





/*弹窗提示*/

.pop_up_prompts,.toastInfo{display:none;position:absolute;width:100%;
			text-align:center;font-size:1rem;height:30px;line-height:30px;color:#fff;}
.pop_up_prompts span,.toastInfo span{background-color:#a5a3a3;display:inline-block;border-radius:5px;padding:0px 10px;}
.toastInfo{bottom: 35px;}
.pop_up_prompts{bottom: 160px;}

/*PC端样式   结束*/






/*
 * 以下为移动端样式
 * 2018-07-12
 * HQS
 * */
.mobile .head{padding-top: 0.7rem;}


/*顶部个人信息*/
.information{width: 96%;margin: 0 auto 0.5rem;background: #fff;position: relative;}
.information .info_left{width: 72%;float: left;}
.information .info_left .info_left_top{width: 100%;}
.information .info_left .info_left_top>div{float: left;}
.information .info_left .info_left_top img{vertical-align: middle;}

.information .info_left .info_left_top .icon_head{display: block; width: 38%;border-radius: 50%;}
.information .info_left .info_left_top .icon_head img{display: block; width: 80%;margin: 1rem auto 1.5rem;border-radius: 50%;}

.information .info_left .info_left_top .title{display: block;color: #000;font-size: 1rem;font-weight: 600;width: 62%;height: 1.3134rem;
											  margin-top: 1.5rem;text-align: left;margin-bottom: 0.5rem;}
.information .info_left .info_left_top .title .gender{float: left;width: 21px;margin-right: 0.5rem;margin-top: 3.92px;}
.information .info_left .info_left_top .title p{display: inline-block;float: left;margin-right: 0.5rem;}
.information .info_left .info_left_top .title .diadema{float: left;width: 21px;margin-top: 3.92px;}

.information .info_left .info_left_top .gameList{width: 50%;}
.information .info_left .info_left_top .gameList img{width: 1.2rem;margin-right: 0.3rem;}

.information .info_left .info_left_bottom{width: 100%;}
.information .info_left .info_left_bottom p{color: #666;font-size: 0.7rem;margin-bottom: 0.3rem;}
.information .info_left .info_left_bottom p:nth-of-type(1){width: 50%;float: left;text-indent: 1rem;}
.information .info_left .info_left_bottom p:nth-of-type(2){width: 50%;float: left;}
.information .info_left .info_left_bottom p:nth-of-type(3){width: 100%;text-indent: 1rem;}
.information .info_left .info_left_bottom p:nth-of-type(4){width: 100%;text-indent: 1rem;}
.information .info_left .info_left_bottom p span{color: #999;margin-left: 0.5rem;}

.information .info_right{width: 28%;margin-top: 1.5rem;position: absolute;right: 0;bottom: 0;}
.information .info_right p{font-size: 0.7rem; color: #f18b22;width: 96%;}
.information .info_right p img{display: inline-block;width: 0.8rem;vertical-align: middle; margin-right: 0.5rem;}
.information .info_right a{display: inline-block;background: #488AFD;border-radius: 0.2rem;
						    text-transform: none;overflow: visible;margin-bottom: 0.5rem;
						    padding: 8px 10px;    -webkit-writing-mode: horizontal-tb;
						    font-family: Arial;font-size: 0.7rem;
						    line-height: 1.42857143;
						    text-align: center;
						    white-space: nowrap;
						    vertical-align: middle;
						    -ms-touch-action: manipulation;
						    touch-action: manipulation;
						    cursor: pointer;
						    -webkit-user-select: none;
						    -moz-user-select: none;
						    -ms-user-select: none;
						    user-select: none;
						    background-image: none;
						    border: 1px solid transparent;color: #fff;}
.information .info_right a:nth-of-type(1){margin-top: 1rem;}
.information .info_right a:nth-of-type(2){margin-top: 0rem;}
.information .info_right .icon_teamLogo{display: block;width: 2rem;height:2rem;max-height:2rem;float: right;margin-right: 13%;
										filter: drop-shadow(0px 0px 2px #999);margin-bottom: 0.5rem;border-radius: 50%;}


/*个人荣誉*/
		/*有荣誉 开始*/
.personalHonor .content{width: 100%;}
.personalHonor .content .events{width: 96%;margin: 0.5rem auto;background: #fff;position: relative;}
.personalHonor .content .events a{width: 100%;display: block;}
.personalHonor .content .events .eventsMain{width: 80%;position: relative;float: left;}
.personalHonor .content .events .eventsMain p{height: 1.5rem;line-height: 1.5rem;}
.personalHonor .content .events .eventsMain p img{vertical-align: middle;margin-right: 0.2rem;}
.personalHonor .content .events .eventsMain .EventsBanner{display: block; width: 95%;margin: 0 auto 0.5rem;}
.personalHonor .content .events .eventsMain .description{width: 90%;height: 2rem;line-height:2rem;padding-left: 0.6rem;
														font-size: 0.7rem;color: #515151;font-weight: 600;}
.personalHonor .content .events .eventsMain .description img{display: inline-block;margin-right: 0.5rem;width: 10%;}

.personalHonor .content .events .eventsName{font-size: 0.8rem;color: #515151;}
.personalHonor .content .events .eventsTime{font-size: 0.6rem;color: #999;}


.personalHonor .content .trophyx{display: inline-block; width: 20%;color: #fff;text-align: center;}
.personalHonor .content .trophyx img{width: 80%;vertical-align: middle;margin: 1rem auto 0.5rem;}


/*共同关注*/
		/*有共同关注*/
.eyesOn .content{width: 100%;}
.eyesOn .content .events{width: 96%;margin: 0.5rem auto;background: #fff; padding-top: 1rem;}
.eyesOn .content .events .module{display: block;width: 47%;float: left;margin-left: 3%;margin-bottom: 0.5rem;}
.eyesOn .content .events .module .common{width: 30%;float: left;}
.eyesOn .content .events .module .common img{display: block; width: 90%;margin: 5% auto; vertical-align: middle;}
.eyesOn .content .events .module .matter{width: 70%;padding-top: 0.2rem;padding-left: 0.3rem; float: left;}
.eyesOn .content .events .module .matter p{width: 100%;font-size: 0.7rem;line-height: 1.2rem;}
.eyesOn .content .events .module .matter .title{color: #515151;}
.eyesOn .content .events .module .matter .describe{color: #999;}
.eyesOn .content .events .module .matter .describe span{color: #0b94ff;}


/*发帖动态*/
		/*有发帖动态*/
.PostingDynamic .content{width: 100%;}
.PostingDynamic .content .events{width: 96%;margin: 0.5rem auto;padding: 2% 5%; background: #fff;position: relative;}
.PostingDynamic .content .events .leftTime{width: 10%;margin-right: 5%;float: left;}
.PostingDynamic .content .events .leftTime span{display: block;width: 100%;text-align: center;color: #2d2d2d;}
.PostingDynamic .content .events .leftTime .day{font-size: 1.5rem;height: 1.8rem;}
.PostingDynamic .content .events .leftTime .month{font-size: 0.6rem;line-height: 1rem;}


.PostingDynamic .content .events .right{width: 85%;float: left;}
.PostingDynamic .content .events .right .topFunction{width: 100%;color: #999;font-size: 0.6rem;line-height: 1.5rem;margin-bottom: 2rem;}
.PostingDynamic .content .events .right .topFunction .status{width: 100%;color: #999;font-size: 0.6rem;line-height: 1.5rem;}
.PostingDynamic .content .events .right .topFunction .talk{width: 100%;max-height: 10.5rem;overflow: hidden; color: #2d2d2d;font-size: 0.9rem;line-height: 1.3rem;margin-bottom: 0.5rem;}
.PostingDynamic .content .events .right .topFunction .illustration{display: block;width: 100%;}

.PostingDynamic .content .events .right .bottomFunction{position: absolute;right: 2%;bottom: 2%;width: 100%;}
.PostingDynamic .content .events .right .bottomFunction p{width: 25%;float: right;text-align: center;line-height: 1.6rem;font-size: 0.6rem;}
.PostingDynamic .content .events .right .bottomFunction p a{display: block;width: 100%;height: 100%;color: #9a9a9a;}
.PostingDynamic .content .events .right .bottomFunction p img{display: inline-block; width: 1rem;vertical-align: baseline;margin-right: 0.3rem;}



/*5.5英寸   414*736尺寸的屏幕  如iPhone6 Plus、iPhone6s Plus、iPhone7 Plus、魅族MX5  1920x1080  /3★*/ 
@media only screen and (max-width: 414px) {
	.information .info_left .info_left_top .icon_head img{height: 5.436rem;}
	.information .info_left .info_left_top .title p{max-width: 8rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.86rem;}
	.eyesOn .content .events .module .common img{height: 3.152rem;}
}
/*5.96英寸  412*732尺寸的屏幕  如谷歌Nexus 6   2K 2560x1440  /3.5★*/
@media only screen and (max-width: 412px) {
	.information .info_left .info_left_top .icon_head img{height: 5.411rem;}
	.information .info_left .info_left_top .title p{max-width: 8rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.85rem;}
	.eyesOn .content .events .module .common img{height: 3.137rem;}
}
/*5.2英寸   411*731尺寸的屏幕  如 谷歌Nexus 5x   1920x1080  /2.625★*/
@media only screen and (min-width: 376px) and (max-width: 411px) {
	.information .info_left .info_left_top .icon_head img{height: 5.397rem;}
	.information .info_left .info_left_top .title p{max-width: 7.5rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.8rem;}
	.eyesOn .content .events .module .common img{height: 3.129rem;}
}
/*4.7英寸   375*667尺寸的屏幕  如iPhone6、iPhone7、iPhone 6s   1334x750*/
@media only screen and (min-width: 361px) and (max-width: 375px) {
	.information .info_left .info_left_top .icon_head img{height: 4.924rem;}
	.information .info_left .info_left_top .title p{max-width: 7rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.7rem;}
	.eyesOn .content .events .module .common img{height: 2.855rem;}
}
/*4.95英寸  360*640尺寸的屏幕  如 谷歌Nexus 5     1920x1080 /3★*/
@media only screen and (min-width: 321px) and (max-width: 360px) {
	.information .info_left .info_left_top .icon_head img{height: 4.727rem;}
	.information .info_left .info_left_top .title p{max-width: 6rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.6rem;}
	.eyesOn .content .events .module .common img{height: 2.741rem;}
}
/*4.0英寸   320*568尺寸的屏幕  如iPhone5、iPhone SE   1136x640*/
@media only screen and (max-width: 320px) {
	.information .info_left .info_left_top .icon_head img{height: 4.202rem;}
	.information .info_left .info_left_top .title p{max-width: 4rem;}
	.personalHonor .events .eventsName,.personalHonor .events .eventsTime{padding-left: 2.4rem;}
	.eyesOn .content .events .module .common img{height: 2.436rem;}
}